{% extends 'food_delivery_app/index.html' %}


{% block content %}
  <h1>Items</h1>
  <ul>
    {% for item in items %}
      <li>
        <h3>{{ item.item_name }}</h3>
        <p>Price: {{ item.price }}</p>
        <form method="post" action="{% url 'order' item.product_id %}">
          {% csrf_token %}
          <label for="payment_type">Payment Type:</label>
          <select name="payment_type" id="payment_type">
            <option value="cash">Cash</option>
            <option value="card">Card</option>
          </select>
          
          <label for="payment_quantity">Quantity:</label>
          <select name="payment_quantity" id="payment_quantity">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <input type="submit" value="Buy">
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}