{% extends "food_delivery_app/index.html" %}
{% block content %}
    <h3>Items in Restaurant</h3>
    {% for i in items %}
        <div>{{ i.item_name }}<br>
            Price:{{ i.price }} 
            Description:{{ i.description }}</div>
    {% endfor %}
    <a href="{% url 'prodreg' %}">Insert Item</a>
    <a href="{% url 'man_view' restaurant_id %}">View Orders</a>
    <a href="{% url 'add_del_personnel' %}">Add Delivery Personnel</a>
    <a href="{% url 'restaurant_analytics' restaurant_id %}">Restaurant Analytics</a>



{% endblock %}
